.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0px 10vw;
    height: 174px;
    

}

.flex-header img {

    width: 107px;
    height: 25px;

}

.flex-header nav {

    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 23px;
    
}

.text-navar a {
    text-decoration: none;
    font-size: 13PX;
    color: #242E52;
    transition-property: all;
    transition-duration: 1s;

    
}

.text-navar a:hover{
    color:#242E5299;

   
}

.fa-bars {
    display: none;

}


/*----------------------------------- MEDIA QUERY ----------------------------------------*/


@media screen and (max-width: 480px) {
    .flex-header nav {
        visibility: hidden;
    }
    
    .flex-header button {
        visibility: hidden;
    }

    .fa-bars {
        display: flex;
        justify-content: space-between;
        font-size: 60px;

    }


}



